

*{
    box-sizing: border-box;
}

body{
    background-image: url("./img3.avif");
    background-size: cover;
    background-position:center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    font-family: "Jost",sans-serif;
    margin: 0; 
}
h1{
    font-weight: bold;
    font-size:5rem;
    margin-top: 4rem;
}
.countdown-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size:6rem;
    line-height:1;
    margin:1rem 3rem;
}
.countdown-el {
    text-align:center;
}

.countdown-el span {
    font-size: 2rem;
}